<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=AMS10BR11793\SQLEXPRESS;Initial Catalog=sc72Sitecore_core;Trusted_Connection=True;" />
  <add name="master" connectionString="Data Source=AMS10BR11793\SQLEXPRESS;Initial Catalog=sc72Sitecore_master;Trusted_Connection=True;" />
  <add name="web" connectionString="Data Source=AMS10BR11793\SQLEXPRESS;Initial Catalog=sc72Sitecore_web;Trusted_Connection=True;" />
</connectionStrings>